.body{
    margin:0;
    display:flex;
    align-items:center;
}

.thin-lines{
    height:90vh;
    width:97vw;
    margin-top:30px;
    margin-left:20px;
  
    box-sizing: border-box;
  
  
    border:1px solid black;
   
   
  }
  .vertical-line{
    border:1px solid black;
    margin-top:20px;
    
  }


.registration-form{
    
    width:30vw;
    height:50vh;
    margin-left:1100px;

  
    
}
#menu p{ 
    font-size:50px;
    color:rgb(147, 52, 202);
    padding-left:50px
}
.username{
    color:black;
    padding-left:40px;
    font-size:50px;   
}
.search{
    margin-left:40px;
    height:45px;
    width:240px;
    border:2px solid rgb(178, 105, 242);
    background-color: lightblue;
    font-size:35px; 
}
.password{
    padding-left:46px;
    font-size: 50px;
    color:black;
}
.password-input{
 height:44px;
 width:240px;
 margin-left:45px;
 margin-top:5px;
 border:2px solid rgb(178, 105, 242);
 background-color:lightblue;
 font-size:35px;
 
}
.register-button{
    font-size:30px;
    margin-top:40px;
    margin-left:10px;
    height:60px;
    width:200px;
    background-color:#7183fc;
    color:white;
}
.link{
margin-top:40px;
}
.icon{
    height:300px;
    width:400px;
}
.icon-container {
    display: flex;
    align-items: center;
    height: 60px;
    padding-top:20px;
     /* Set the desired height */
  }
  
  .icon1 {
    height: 70px; /* Make the image fill the container vertically */
  }
  
  .app-title {
    font-size: 55px; /* Adjust font size as needed */
    margin-left: 10px;
    padding-bottom:9px /* Add spacing between the icon and text */
  }
  @media only screen and (max-width:455px){
    body{
        margin:0;
        display:flex;
        align-items:center;
    }
    .app-title {
        font-size: 40px; /* Adjust font size as needed */
        padding-bottom:19px;
      /* Add spacing between the icon and text */
      }
      .icon-container{
        margin-left:-150px
      }
      .registration-form{
      margin-left:15px;
      margin-top:-30px
    }
    .username{
        color:black;
           
    }
    .search{
        margin-left:-2px;
        height:45px;
        width:240px;
        border:2px solid rgb(178, 105, 242);
        background-color: lightblue;
        font-size:35px; 
    }
    .password-input{
        height:44px;
        width:240px;
        margin-left:-4px;
        margin-top:5px;
        border:2px solid rgb(178, 105, 242);
        background-color:lightblue;
        font-size:35px;
        
       }
       .register-button{
        font-size:30px;
        margin-left:60px;
        height:60px;
        width:200px;
        background-color:#7183fc;
        color:white;
    }
    .link{
        margin-top:30px;
        width:230px;
        height:50px;
        margin-left:50px;
        font-size:20px;
        }
        p{
            width:300px;
            height:100px;
            display:inline-flex
        }
        
    .thin-lines{
        height: 150vh;
        width: 140vw;
        margin-top: 30px;
        margin-left: 20px;
        box-sizing: border-box;
        border: 1px solid rgb(209, 211, 211);
         /* Adjust margin-left for smaller screens */
    }      
    }

 